* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Page center */
body {
    min-height: 100vh;
    background: linear-gradient(to right,grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    background: #ffffff;
    width: 450px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

/* Title */
.form-title {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

/* Input group */
.input-group {
    position: relative;
    margin-bottom: 1.8rem;
}

/* Icons */
.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #555;
    transform: translateY(-50%);
}

/* Inputs */
.input-group input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: none;
    border-bottom: 1px solid #757575;
    font-size: 15px;
    outline: none;
    background: transparent;
}

/* Focus */
.input-group input:focus {
    border-bottom: 2px solid #000;
}

/* Labels */
.input-group label {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    color: #757575;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s ease;
}

/* Floating label */
.input-group input:focus + label,
.input-group input:valid + label {
    top: -8px;
    font-size: 12px;
    color: #000;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    background: #000;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #222;
}

/* Register text */
.register-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
}

.register-link a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
