@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100%;
  background: url('../Images/okokok.jpg') no-repeat;
  background-size:cover;
  background-position:center;
  position: relative;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../Images/okokok.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  z-index: 1;
}

.login-box {
  position: relative;
  width: 407px;
  height: 455px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.563);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  z-index: 2;
}
h2 {
  font-size:2em;
  color:#636363;
  text-align:center;
}
.input-box {
  position:relative;
  width:310px;
  margin:30px 0;
  border-bottom:1px solid #000000;
}
.input-box label {
  position:absolute;
  top:50%;
  left:5px;
  transform:translateY(-50%);
  font-size:1em;
  color:#ffffff;
  pointer-events:none;
  transition:.5s;
}
.input-box input:focus  ~ label,
.input-box input:valid  ~ label {
  top:-5px;
}
.input-box input {
  width:100%;
  height:50px;
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color:#ffffff;
  padding:0 35px 0 5px;
}
.input-box .icon {
  position:absolute;
  right:8px;
  top:50%;
  color: #ffffff;
  transform: translateY(-50%);
}
.remember-forgot {
  margin:-15px 0 15px;
  font-size:.9em;
  color:#ffffff;
  display:flex;
  justify-content:space-between;
}
.remember-forgot label input {
  margin-right:3px;
}
.remember-forgot a {
  color:#ffffff;
  text-decoration:none;
}
.remember-forgot a:hover {
  text-decoration:underline;
}
button {
  width:100%;
  height:40px;
  background-color:#fff;
  border:none;
  border-radius:40px;
  cursor:pointer;
  border:1px solid #000;
  font-size:1em;
  color:#000;
  font-weight:500;
  transition: all 0.3s ease;
}

button:hover {
  background-color:#000;
  color:#fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.register-link {
  font-size:.9em;
  color:#fff;
  text-align:center;
  margin:25px 0 10px;
}
.register-link p a {
  color:#fff;
  text-decoration:none;
  font-weight:600;
}
.register-link p a:hover {
  text-decoration:underline;
}
@media (max-width:500px) {
  .login-box {
    width:100%;
    height:100vh;
    border:none;
    border-radius:0;
  }
  .input-box {
    width:290px;
  }
}
